html {
  background: url("./src/fondoEstelar.jpg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body {
  margin: 0;
}
.solarSistem {
  display: flex;
  align-items: center;
  position: relative;
}
div {
  margin: 0 1em;
}
.img {
  width: 100%;
}
.img:hover {
  border-color: blue;
  border: outset;
}
div:hover .result{
  display: block;
}
.border-more {
  border-radius: 50%;
}
.border-tierra {
  border-radius: 45%;
}
.border-saturno {
  border-top-left-radius: 70%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 40%;
}
.border-urano {
  border-top-left-radius: 60%;
  border-top-right-radius: 18%;
  border-bottom-right-radius: 65%;
  border-bottom-left-radius: 18%;
}
/* .resultContainer {
  margin: 0;
  display: flex;
  position: absolute;
  bottom: 90px;
  justify-content: center;
  align-items: flex-start;
} */
.result {
  display: none;
  position: absolute;
  bottom: 90px;
  margin: 0;
  border: outset;
  border-radius: 50px;
  background-color: rgba(255, 247, 247, 0.5);
  padding: 10px;
  /* width: auto;
  height: auto; */
}
