html{
    background: url("./src/fondoEstelar.jpg.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    height: -webkit-fill-available;
    display: flex;
 
   
}
body{
    display: flex;
    margin: 0;
}
section{
    display: flex;
    align-items: center;
}
img:hover{
    border-color: blue;
    border: outset; 
}