html {
  background: url("./src/fondoEstelar.jpg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body{
    margin: 0;
}
section {
  display: flex;
  align-items: center;
}
div {
  margin: 0 1em;
}
img {
  width: 100%;
}
img:hover {
  border-color: blue;
  border: outset;
}
.resultConteiner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.result{
    background-color: rgba(255, 247, 247, 0.5);
    border-radius: 40px;
    padding: 10px;
    width: auto;
    height: auto;

}
